# Gradle
.gradle/
build/
/out/

# LaTeX
*.aux
dissertation.*
!dissertation.tex
!dissertation.bib

# backups
*.sav
*.bak

# OSX
.DS_Store

# IDEA
.idea/
*.iml
*.orig

# R
.Rhistory
.RData

# LilyPond
snippets/*.mid
snippets/*.eps
snippets/*.texi
snippets/*.tex
snippets/*.count
snippets/*[0-9]*.pdf
!snippets/deviation_example_2_mixed.pdf

# internal/temp data
data_tmp/